flows/Auto_Response_To_Contact_On_Cloned_Case_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Auto_Generated_Notification_On_Re_Assign_Case</name>
        <label>Auto Generated Notification On Re-Assign Case</label>
        <locationX>1062</locationX>
        <locationY>138</locationY>
        <actionName>Case.Auto_Generated_Notification_On_Re_Assign_Case</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>IncomingCaseRecordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_Case_Record_was_Retrieved</name>
        <label>Check if Case Record was Retrieved</label>
        <locationX>390</locationX>
        <locationY>144</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Positive_Retrieval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasesObj.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_Email_Message_Detail</targetReference>
            </connector>
            <label>Case Positive Retrieval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Latest_Email_Message_was_Successfully_Retrieved</name>
        <label>Check If Latest Email Message was Successfully Retrieved</label>
        <locationX>792</locationX>
        <locationY>144</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Message_Positive_Retrieval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Email_Message_Detail.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Generated_Notification_On_Re_Assign_Case</targetReference>
            </connector>
            <label>Email Message Positive Retrieval</label>
        </rules>
    </decisions>
    <interviewLabel>Auto- Response To Contact On Cloned Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto- Response To Contact On Cloned Case Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Incoming_Case_Details</name>
        <label>Get Incoming Case Details</label>
        <locationX>236</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Case_Record_was_Retrieved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingCaseRecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CasesObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Email_Message_Detail</name>
        <label>Get Latest Email Message Detail</label>
        <locationX>639</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Latest_Email_Message_was_Successfully_Retrieved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FromAddress</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingCaseRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ToAddress</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <sortField>MessageDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>78</locationX>
        <locationY>142</locationY>
        <connector>
            <targetReference>Get_Incoming_Case_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CasesObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>IncomingCaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
