flows/Compensation_Estimator_YTD_Members.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>181</locationX>
        <locationY>477</locationY>
        <assignmentItems>
            <assignToReference>VarSumMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLoopQuoteLineItem.Members__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>varLoop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Compensation Estimator YTD Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compensation Estimator YTD Members</label>
    <loops>
        <name>varLoop</name>
        <label>varLoopQuoteLineItem</label>
        <locationX>188</locationX>
        <locationY>274</locationY>
        <assignNextValueToReference>varLoopQuoteLineItem</assignNextValueToReference>
        <collectionReference>ColVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCompensationGoal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetQuoteLineItems</name>
        <label>GetQuoteLineItems</label>
        <locationX>193</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>varLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Comp_Estimator_Member_Eligible_Goal_LOB__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCompEstimatorGoalLOB</elementReference>
            </value>
        </filters>
        <filters>
            <field>Comp_Estimator_Opportunity_Team_Members__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Implementation_Complete_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarImplementationCompleteYear</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>ColVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Comp_Estimator_Member_Eligible_Goal_LOB__c</queriedFields>
        <queriedFields>Members__c</queriedFields>
        <queriedFields>Account_Manager_ID__c</queriedFields>
        <queriedFields>Implementation_Complete_Year__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCompensationGoal</name>
        <label>UpdateCompensationGoal</label>
        <locationX>436</locationX>
        <locationY>268</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCompEstimatorGoalLineId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Line_of_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCompEstimatorGoalLOB</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_of_Measure__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Members</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>YTD_Members__c</field>
            <value>
                <elementReference>VarSumMembers</elementReference>
            </value>
        </inputAssignments>
        <object>Compensation_Estimator_Goal__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetQuoteLineItems</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ColVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varCompEstimatorGoalLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompEstimatorGoalLOB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarImplementationCompleteYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoopQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSumMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
