flows/Update_BOR_COR.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>BOR</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Remove COR</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>OAB</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>OAB LG</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>OAC</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>OAC LG</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>COR</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>BOR LG</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>COR LG</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Remove BOR</label>
        </rules>
    </decisions>
    <description>Update Account with BOR and COR Data for Reporting</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
  AND(
    [Brokerage_and_Consultant__c].Brokerage_of_Record__c = TRUE,
    ISNEW(),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Brokerage__c))
  ),
  AND(
    [Brokerage_and_Consultant__c].Brokerage_of_Record__c = TRUE,
    ISCHANGED([Brokerage_and_Consultant__c].Brokerage_of_Record__c),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Brokerage__c))
  ),
  AND(
    [Brokerage_and_Consultant__c].Brokerage_of_Record__c = TRUE,
    ISCHANGED([Brokerage_and_Consultant__c].Brokerage__c),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Brokerage__c))
  )
),
ISPICKVAL([Brokerage_and_Consultant__c].Account__c.Anthem_Entity__c,&apos;National Accounts&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
  AND(
    {!myVariable_current.Brokerage_of_Record__c} = TRUE,
    ISNEW(),
    NOT(ISBLANK({!myVariable_current.Brokerage__c}))
  ),
  AND(
    {!myVariable_current.Brokerage_of_Record__c} = TRUE,
    ISCHANGED({!myVariable_current.Brokerage_of_Record__c}),
    NOT(ISBLANK({!myVariable_current.Brokerage__c}))
  ),
  AND(
    {!myVariable_current.Brokerage_of_Record__c} = TRUE,
    ISCHANGED({!myVariable_current.Brokerage__c}),
    NOT(ISBLANK({!myVariable_current.Brokerage__c}))
  )
),
ISPICKVAL({!myVariable_current.Account__r.Anthem_Entity__c},&apos;National Accounts&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
OR(
AND(
[Brokerage_and_Consultant__c].ConsultantEndDate__c  &gt;= Today(),
ISCHANGED([Brokerage_and_Consultant__c].ConsultantEndDate__c )
),
AND(
ISCHANGED([Brokerage_and_Consultant__c].consultant_of_Record__c) ,
[Brokerage_and_Consultant__c].consultant_of_Record__c = FALSE
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>
OR(
AND(
{!myVariable_current.ConsultantEndDate__c}  &gt;= Today(),
ISCHANGED({!myVariable_current.ConsultantEndDate__c} )
),
AND(
ISCHANGED({!myVariable_current.Consultant_of_Record__c}) ,
{!myVariable_current.Consultant_of_Record__c} = FALSE
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
  AND(
    [Brokerage_and_Consultant__c].Brokerage_of_Record__c = FALSE,
    ISNEW(),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Brokerage__c))
  ),
  AND(
    [Brokerage_and_Consultant__c].Brokerage_of_Record__c = FALSE,
    ISCHANGED([Brokerage_and_Consultant__c].Brokerage__c),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Brokerage__c))
  ),
  AND(
    [Brokerage_and_Consultant__c].Brokerage_of_Record__c = FALSE,
    ISCHANGED([Brokerage_and_Consultant__c].Brokerage_of_Record__c),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Brokerage__c))
  )
),
AND(
ISPICKVAL([Brokerage_and_Consultant__c].BrokerageRole__c, &quot;Brokerage&quot;)
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
  AND(
    {!myVariable_current.Brokerage_of_Record__c} = FALSE,
    ISNEW(),
    NOT(ISBLANK({!myVariable_current.Brokerage__c}))
  ),
  AND(
    {!myVariable_current.Brokerage_of_Record__c} = FALSE,
    ISCHANGED({!myVariable_current.Brokerage__c}),
    NOT(ISBLANK({!myVariable_current.Brokerage__c}))
  ),
  AND(
    {!myVariable_current.Brokerage_of_Record__c} = FALSE,
    ISCHANGED({!myVariable_current.Brokerage_of_Record__c}),
    NOT(ISBLANK({!myVariable_current.Brokerage__c}))
  )
),
AND(
ISPICKVAL({!myVariable_current.BrokerageRole__c}, &quot;Brokerage&quot;)
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
  AND(
    [Brokerage_and_Consultant__c].Brokerage_of_Record__c = FALSE,
    ISNEW(),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Brokerage_LG__c))
  ),
  AND(
    [Brokerage_and_Consultant__c].Brokerage_of_Record__c = FALSE,
    ISCHANGED([Brokerage_and_Consultant__c].Brokerage_LG__c),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Brokerage_LG__c))
  ),
  AND(
    [Brokerage_and_Consultant__c].Brokerage_of_Record__c = FALSE,
    ISCHANGED([Brokerage_and_Consultant__c].Brokerage_of_Record__c),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Brokerage_LG__c))
  )
),
AND(
ISPICKVAL([Brokerage_and_Consultant__c].BrokerageRole__c, &quot;Brokerage&quot;)
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
  AND(
    {!myVariable_current.Brokerage_of_Record__c} = FALSE,
    ISNEW(),
    NOT(ISBLANK({!myVariable_current.Brokerage_LG__c}))
  ),
  AND(
    {!myVariable_current.Brokerage_of_Record__c} = FALSE,
    ISCHANGED({!myVariable_current.Brokerage_LG__c}),
    NOT(ISBLANK({!myVariable_current.Brokerage_LG__c}))
  ),
  AND(
    {!myVariable_current.Brokerage_of_Record__c} = FALSE,
    ISCHANGED({!myVariable_current.Brokerage_of_Record__c}),
    NOT(ISBLANK({!myVariable_current.Brokerage_LG__c}))
  )
),
AND(
ISPICKVAL({!myVariable_current.BrokerageRole__c}, &quot;Brokerage&quot;)
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
  AND(
    [Brokerage_and_Consultant__c].Consultant_of_Record__c = FALSE,
    ISNEW(),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Consultant__c))
  ),
  AND(
    [Brokerage_and_Consultant__c].Consultant_of_Record__c = FALSE,
    ISCHANGED([Brokerage_and_Consultant__c].Consultant__c),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Consultant__c))
  ),
  AND(
    [Brokerage_and_Consultant__c].Consultant_of_Record__c = FALSE,
    ISCHANGED([Brokerage_and_Consultant__c].Consultant_of_Record__c),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Consultant__c))
  )
),
AND(
OR(
ISPICKVAL([Brokerage_and_Consultant__c].BrokerRole__c, &quot;Broker&quot;),
ISPICKVAL([Brokerage_and_Consultant__c].BrokerRole__c, &quot;Consultant&quot;)
)
)
)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
  AND(
    {!myVariable_current.Consultant_of_Record__c} = FALSE,
    ISNEW(),
    NOT(ISBLANK({!myVariable_current.Consultant__c}))
  ),
  AND(
    {!myVariable_current.Consultant_of_Record__c} = FALSE,
    ISCHANGED({!myVariable_current.Consultant__c}),
    NOT(ISBLANK({!myVariable_current.Consultant__c}))
  ),
  AND(
    {!myVariable_current.Consultant_of_Record__c} = FALSE,
    ISCHANGED({!myVariable_current.Consultant_of_Record__c}),
    NOT(ISBLANK({!myVariable_current.Consultant__c}))
  )
),
AND(
OR(
ISPICKVAL({!myVariable_current.BrokerRole__c}, &quot;Broker&quot;),
ISPICKVAL({!myVariable_current.BrokerRole__c}, &quot;Consultant&quot;)
)
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
  AND(
    [Brokerage_and_Consultant__c].Consultant_of_Record__c = FALSE,
    ISNEW(),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Consultant_LG__c))
  ),
  AND(
    [Brokerage_and_Consultant__c].Consultant_of_Record__c = FALSE,
    ISCHANGED([Brokerage_and_Consultant__c].Consultant_LG__c),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Consultant_LG__c))
  ),
  AND(
    [Brokerage_and_Consultant__c].Consultant_of_Record__c = FALSE,
    ISCHANGED([Brokerage_and_Consultant__c].Consultant_of_Record__c),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Consultant_LG__c))
  )
),
AND(
OR(
ISPICKVAL([Brokerage_and_Consultant__c].BrokerRole__c, &quot;Broker&quot;),
ISPICKVAL([Brokerage_and_Consultant__c].BrokerRole__c, &quot;Consultant&quot;)
)
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
  AND(
    {!myVariable_current.Consultant_of_Record__c} = FALSE,
    ISNEW(),
    NOT(ISBLANK({!myVariable_current.Consultant_LG__c}))
  ),
  AND(
    {!myVariable_current.Consultant_of_Record__c} = FALSE,
    ISCHANGED({!myVariable_current.Consultant_LG__c}),
    NOT(ISBLANK({!myVariable_current.Consultant_LG__c}))
  ),
  AND(
    {!myVariable_current.Consultant_of_Record__c} = FALSE,
    ISCHANGED({!myVariable_current.Consultant_of_Record__c}),
    NOT(ISBLANK({!myVariable_current.Consultant_LG__c}))
  )
),
AND(
OR(
ISPICKVAL({!myVariable_current.BrokerRole__c}, &quot;Broker&quot;),
ISPICKVAL({!myVariable_current.BrokerRole__c}, &quot;Consultant&quot;)
)
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
  AND(
    [Brokerage_and_Consultant__c].Consultant_of_Record__c  = TRUE,
    ISNEW(),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Consultant__c))
  ),
  AND(
    [Brokerage_and_Consultant__c].Consultant_of_Record__c  = TRUE,
    ISCHANGED([Brokerage_and_Consultant__c].Consultant_of_Record__c),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Consultant__c))
  ),
  AND(
    [Brokerage_and_Consultant__c].Consultant_of_Record__c  = TRUE,
    ISCHANGED([Brokerage_and_Consultant__c].Consultant__c),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Consultant__c))
  )
),
ISPICKVAL([Brokerage_and_Consultant__c].Account__c.Anthem_Entity__c,&apos;National Accounts&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
  AND(
    {!myVariable_current.Consultant_of_Record__c}  = TRUE,
    ISNEW(),
    NOT(ISBLANK({!myVariable_current.Consultant__c}))
  ),
  AND(
    {!myVariable_current.Consultant_of_Record__c}  = TRUE,
    ISCHANGED({!myVariable_current.Consultant_of_Record__c}),
    NOT(ISBLANK({!myVariable_current.Consultant__c}))
  ),
  AND(
    {!myVariable_current.Consultant_of_Record__c}  = TRUE,
    ISCHANGED({!myVariable_current.Consultant__c}),
    NOT(ISBLANK({!myVariable_current.Consultant__c}))
  )
),
ISPICKVAL({!myVariable_current.Account__r.Anthem_Entity__c},&apos;National Accounts&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
  AND(
    [Brokerage_and_Consultant__c].Brokerage_of_Record__c = TRUE,
    ISNEW(),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Brokerage_LG__c))
  ),
  AND(
    [Brokerage_and_Consultant__c].Brokerage_of_Record__c = TRUE,
    ISCHANGED([Brokerage_and_Consultant__c].Brokerage_LG__c),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Brokerage_LG__c))
  ),
  AND(
    [Brokerage_and_Consultant__c].Brokerage_of_Record__c = TRUE,
    ISCHANGED([Brokerage_and_Consultant__c].Brokerage_of_Record__c),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Brokerage_LG__c))
  )
),
!ISPICKVAL([Brokerage_and_Consultant__c].Account__c.Anthem_Entity__c,&apos;National Accounts&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
  AND(
    {!myVariable_current.Brokerage_of_Record__c} = TRUE,
    ISNEW(),
    NOT(ISBLANK({!myVariable_current.Brokerage_LG__c}))
  ),
  AND(
    {!myVariable_current.Brokerage_of_Record__c} = TRUE,
    ISCHANGED({!myVariable_current.Brokerage_LG__c}),
    NOT(ISBLANK({!myVariable_current.Brokerage_LG__c}))
  ),
  AND(
    {!myVariable_current.Brokerage_of_Record__c} = TRUE,
    ISCHANGED({!myVariable_current.Brokerage_of_Record__c}),
    NOT(ISBLANK({!myVariable_current.Brokerage_LG__c}))
  )
),
!ISPICKVAL({!myVariable_current.Account__r.Anthem_Entity__c},&apos;National Accounts&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
OR(
  AND(
    [Brokerage_and_Consultant__c].Consultant_of_Record__c  = TRUE,
    ISNEW(),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Consultant_LG__c))
  ),
  AND(
    [Brokerage_and_Consultant__c].Consultant_of_Record__c  = TRUE,
    ISCHANGED([Brokerage_and_Consultant__c].Consultant_LG__c),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Consultant_LG__c))
  ),
  AND(
    [Brokerage_and_Consultant__c].Consultant_of_Record__c  = TRUE,
    ISCHANGED([Brokerage_and_Consultant__c].Consultant_of_Record__c),
    NOT(ISBLANK([Brokerage_and_Consultant__c].Consultant_LG__c))
  )
),
NOT(ISPICKVAL([Brokerage_and_Consultant__c].Account__c.Anthem_Entity__c,&apos;National Accounts&apos;))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(
OR(
  AND(
    {!myVariable_current.Consultant_of_Record__c}  = TRUE,
    ISNEW(),
    NOT(ISBLANK({!myVariable_current.Consultant_LG__c}))
  ),
  AND(
    {!myVariable_current.Consultant_of_Record__c}  = TRUE,
    ISCHANGED({!myVariable_current.Consultant_LG__c}),
    NOT(ISBLANK({!myVariable_current.Consultant_LG__c}))
  ),
  AND(
    {!myVariable_current.Consultant_of_Record__c}  = TRUE,
    ISCHANGED({!myVariable_current.Consultant_of_Record__c}),
    NOT(ISBLANK({!myVariable_current.Consultant_LG__c}))
  )
),
NOT(ISPICKVAL({!myVariable_current.Account__r.Anthem_Entity__c},&apos;National Accounts&apos;))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
AND(
[Brokerage_and_Consultant__c].BrokerageEndDate__c &gt;= Today(),
ISCHANGED([Brokerage_and_Consultant__c].BrokerageEndDate__c)
),
AND(
ISCHANGED([Brokerage_and_Consultant__c].Brokerage_of_Record__c) ,
[Brokerage_and_Consultant__c].Brokerage_of_Record__c = FALSE
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(
{!myVariable_current.BrokerageEndDate__c} &gt;= Today(),
ISCHANGED({!myVariable_current.BrokerageEndDate__c})
),
AND(
ISCHANGED({!myVariable_current.Brokerage_of_Record__c}) ,
{!myVariable_current.Brokerage_of_Record__c} = FALSE
)
)</expression>
    </formulas>
    <interviewLabel>Update_BOR_COR-22_InterviewLabel</interviewLabel>
    <label>ACCT - Update BOR &amp; COR</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Brokerage_and_Consultant__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Brokerage_and_Consultant__c].Account</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Remove COR if Expired</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision12</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>COR</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>ConsultantofRecord__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Brokerage_and_Consultant__c].Account</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>OAB</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision14</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Other Account Brokerage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Other_Account_Brokerage__c</field>
            <value>
                <elementReference>myVariable_current.Brokerage__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Brokerage_and_Consultant__c].Account</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>OAB LG</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision16</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Other Account Brokerage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Other_Account_Brokerage__c</field>
            <value>
                <elementReference>myVariable_current.Brokerage_LG__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Brokerage_and_Consultant__c].Account</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>OAC</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision18</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Other Account Consultant</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Other_Account_Consultant__c</field>
            <value>
                <elementReference>myVariable_current.Consultant__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Brokerage_and_Consultant__c].Account</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>OAC LG</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Other Account Consultant</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Other_Account_Consultant__c</field>
            <value>
                <elementReference>myVariable_current.Consultant_LG__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Brokerage_and_Consultant__c].Account</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Account with BOR</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>BOR</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>BrokerageofRecord__c</field>
            <value>
                <elementReference>myVariable_current.Brokerage__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Brokerage_and_Consultant__c].Account</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Update Account with COR</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>COR</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ConsultantofRecord__c</field>
            <value>
                <elementReference>myVariable_current.Consultant__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Brokerage_and_Consultant__c].Account</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update Account with BOR</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>BOR</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>BrokerageofRecord__c</field>
            <value>
                <elementReference>myVariable_current.Brokerage_LG__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Brokerage_and_Consultant__c].Account</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Update Account with COR LG</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>COR</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ConsultantofRecord__c</field>
            <value>
                <elementReference>myVariable_current.Consultant_LG__r.Contact_Name_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Brokerage_and_Consultant__c].Account</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Remove BOR if Expired</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>BOR</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>BrokerageofRecord__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Brokerage_and_Consultant__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Brokerage_and_Consultant__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
